.Modal {
   position: fixed;
   top: 10%;
   display: block;
   width: 50%;
   min-height: 45%;
   border: 1px solid black;
   z-index: 200;
   background-color: white;
   border-radius: 5px;
}
.addRecipeForm {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 100%;
   width: 90%;
   margin: 10px auto;
}
.addRecipeForm input {
   border-radius: 3px;
   border: .5px solid grey;
   padding: 10px 5px;
}
.formInfo {
   display: grid;
   grid-template-columns: auto;
   grid-gap: 10px;
   margin-bottom: 30px;
}
.buttonContainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}
/* Ingredient List */
.ingredientList {
   list-style-type: none;
   padding-left: 0;
}
.ingredientItem {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   border: .5px solid lightgrey;
   border-radius: 2px;
   margin-bottom: 5px;
   padding: 3px 5px;
}
.deleteIngredientButton {
   border: .5px solid red;
   border-radius: 2px;
   padding: 5px 10px;   
   background-color: red;
   color: white;
}